AndroidStudioProject/.gradle
AndroidStudioProject/local.properties
AndroidStudioProject/.idea/workspace.xml
AndroidStudioProject/.idea/libraries
AndroidStudioProject/.DS_Store
AndroidStudioProject/build
